table{
  text-align: left;
  border-spacing: 0px;
  margin: 5rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid #a7a7a7;
  box-shadow: #acacac 0 0 100px;
}

thead{
  font-size: 1.25rem;
  font-weight:bold;
  color:#fff;
  background:#353535;
}

td{
  padding:1.25rem;
}

tbody tr:nth-child(even){
background: #dfdfdf;
}


.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#entry-form{
  text-align: center;
  display:block;
}

#entry-form label{
 text-align: right;
 margin: 1rem 3rem 0 0;
 min-width: 75px;
 display: inline-block;
}

#entry-form input{
  padding: 1rem;
  margin: 1rem;
  min-width: 500px;
  justify-content: right;
  align-items: center;
  border-radius: .5rem;
  border: grey 1px solid;
  
}

button {
  margin-top:2rem;
  padding:1rem 5rem;
  border-radius: .5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color:#fff;
  background: #282c34;
  border: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
